body {
  background: linear-gradient(to bottom, #685f74 40%, #7e5f8d 90%, #914a75);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: #685f74;
  color: #ebebff;
  font-family: 'Fira Sans', sans-serif, Lato;
  font-weight: 300;
  margin: 24px;
  border: 2px solid #4a4050;
  box-shadow: #4a4050 0px 2px 4px, #4a4050 0px 7px 13px -3px,
    #000000 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
    rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

h1 {
  font-family: 'Raleway', sans-serif, Arial;
  font-size: 38px;
  font-weight: 500;
}
h2 {
  font-family: 'Laila', sans-serif, Arial;
  font-size: 30px;
}
h3 {
  font-family: 'Laila', sans-serif, Arial;
  font-size: 24px;
  color: #ebebff;
  margin-top: 0px;
}

p {
  font-size: 18px;
  line-height: 130%;
  font-weight: 300;
}

.title {
  text-align: center;
}

.top-h1 {
  margin-bottom: 5px;
}
.top-h2 {
  margin: 5px 0px;
  text-decoration: 1px overline solid #ebebff;
}

div p {
  margin-bottom: 14px;
}

a {
  color: #f3e0ec;
  text-decoration: 1px underline;
}

.box {
  border: 2px solid #4a4050;
  box-shadow: #4a4050 0px 2px 4px, #4a4050 0px 7px 13px -3px,
    #000000 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
    rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  margin: 20px;
  padding: 10px;
}

/* COLORS */
.color-grid {
  display: flex;
  margin: auto;
}

.color-box {
  border: 1px solid #000;
  width: 100%;
  height: 120px;
  margin: 5px;
  color: #000000;
}

.color-box p {
  text-align: center;
  font-weight: bolder;
  font-size: 16px;
}

.lavender-web {
  background-color: #ebebff;
}
.sugar-plum {
  background-color: #914a75;
}
.french-lilac {
  background-color: #7e5f8d;
}
.old-lavender {
  background-color: #685f74;
}

/* FONTS */
.font-name {
  font-size: 24px;
  font-weight: bolder;
  text-decoration: 1.5px underline;
}
.fira-sans {
  font-family: 'Fira Sans', sans-serif;
}

.raleway {
  font-family: 'Raleway', sans-serif;
}

.laila {
  font-family: 'Laila', Airal;
}

.regular {
  font-weight: 400;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

cite {
  font-size: 15px;
  text-align: right;
  display: block;
  padding-top: 15px;
}

/* TEXT STYLES */

li {
  list-style: none;
}

.text-heading {
  margin-bottom: 0px;
}

.text-para {
  margin: 25px 0px;
} /* ---- FOOTER ---- */
footer {
  font-family: Laila;
  font-size: 13px;
  padding: 10px;
  text-align: right;
  color: #f3e0ec;
}

/* ---------min-width 768--------- */
@media (min-width: 768px) {
  body {
    margin: 50px;
  }
  a {
    text-decoration: none;
  }
  a:hover {
    color: #742d5a;
  }

  .color-box {
    border: 1px solid #000;
    width: 100%;
    height: 120px;
    margin: 5px;
    color: #000000;
  }
  .color-box p {
    font-size: 18px;
  }
}
/* ---------min-width 1040--------- */
@media (min-width: 1040px) {
  body {
    margin: 65px;
  }
}

/* ---------max 434/min 320--------- */
@media (max-width: 434px) and (min-width: 320px) {
  body {
    margin: 14px;
  }
  .color-box {
    width: 90%;
  }
  .color-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: auto;
  }
  .box {
    padding: 10px;
  }

  .color-box p {
    text-align: center;
    font-weight: bolder;
  }
  p {
    font-size: 16px;
    line-height: 100%;
  }

  .color-name {
    margin: 10px;
  }
}
